.header--my-pages {
    position: relative;
    overflow: hidden;
}

.company-logo--my-pages {
    max-width: 60%;
}

.header-img-mypages--mobile {
    object-fit: contain;
}
.header-img-mypages--desktop {
    display: none;
}

.add-plant__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
} 

.add-plant__form {
    min-width: 100%;
    padding: 1rem;
}

.add-plant__form__input {
    border: none;
    padding: .5rem;
    display: flex;
}

.button--add-plant {
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */

.footer__my-pages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: .5rem;
    padding: 1rem;

    background-color: rgb(158, 109, 82);
}

.footer__image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer__image--mobile {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}

.footer__image--desktop {
    display: none;
}
