* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(252, 246, 252);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 255, 252);
  max-width: 100%;
  overflow: hidden;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  max-width: 100%;
}

.header-start__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.header-start__img {
  object-fit: fill;
  min-height: 100%;
  min-width: 100%;
}

.header-start__box--left {
  grid-column: 1 / span 12;
  grid-row: 1 / span 3;
}

.header-start__box--right {
  background-color: rgb(158, 109, 82);
  grid-column: auto / span 6;
  grid-row: auto / span 1;
}

.header-start__box--right img {
  max-height: 70%;
}

.header-start__box-right--green {
  background-color: rgb(10, 132, 110);
  grid-column: auto / span 6;
  grid-row: auto / span 1;
}

.company-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.company-logo--start {
  width: 50%;
}

/* NAVIGATION */
.dropdown-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  min-width: max-content;
  width: 5rem;
  box-shadow: 0 4px 2px -2px #0000003b;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
  background-color: rgba(211, 208, 208, 0.491);
}

.dropdown-menu {
  color: black;
  font-weight: 500;
  display: block;
  padding: 0.5rem;
  border-bottom: gray solid 1px;
  width: 7rem;
}

.nav-bar {
  display: none;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.main__heading1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(10, 132, 110);
  margin: 1.5rem 0 1.5rem 0;
}

/* PART ONE + PART THREE*/
.main__info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.main__info-box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main__info-box--three {
  flex-direction: column-reverse;
}

.main__span {
  text-align: center;
}

.button {
  display: block;
  background-color: rgb(10, 132, 110);
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  min-width: 5rem;
  padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  box-shadow: 0 4px 2px -2px #0000003b;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}

.button--box-one {
  align-self: flex-start;
}

.button--box-three {
  align-self: flex-start;
}

.main__circle-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 132, 110);
  border-radius: 100%;
  max-width: 80%;
  width: 20rem;
  aspect-ratio: 1/1;
}

.info-box__logo {
  max-height: 70%;
}

.main-demarcation {
  padding: 1rem;
}

/* SECTION TWO */
.main__part-two {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  place-items: center;
  padding: 1rem;
}

.card-vegetables {
  grid-column: auto / span 6;
  grid-row: auto / span 1;

  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 2px #00000049;
}

.card-vegetables__img {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.card-vegetables__img img {
  max-width: 100%;
  object-fit: fill;
}

.card-vegetables__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-height: 70%;
}

.card-vegetables__info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: flex-start;
  gap: 0.3rem;
  padding: 0.2rem;
}
.card-vegetables__vegetable {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.card-vegetables__date,
.card-vegetables__name {
  font-weight: 700;
  font-size: 0.6rem;
}

.card-vegetables__date {
  justify-self: flex-end;
}

.card-vegetables__remove-button {
  display: none;
}

.card-vegetables__remove-icon {
  max-width: 1rem;
  max-height: 1rem;
  justify-self: flex-end;
  cursor: pointer;
}

.button--show-more {
  grid-column: 1 / span 12;
  grid-row: auto;
  cursor: pointer;
}

/* FOOTER */
.footer__start {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  min-width: 100%;
  color: white;
  overflow: hidden;
  margin-top: 3rem;
}

.footer__start__image--desktop {
  display: none;
}

.footer__start__image--mobile {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  min-width: 100%;
}

.footer__start__logo-container {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

.footer__start__text-container {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;

  background-color: rgba(0, 0, 0, 0.79);
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
}
.footer__start__h2-container {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  font-size: 4rem;
}
.footer__start__text {
  font-family: "Maven Pro", sans-serif;
}

.footer__start__text--small {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.link-top {
  color: black;
  text-align: center;
  margin: 1rem;
}
